
*.xml
*.iml
*.pyc
simplyfire/config/key_map.yaml
simplyfire/config/system_config.yaml
simplyfire/user_config.yaml
*.temp
*.csv
*.mini
*.abf
test_recordings/*
*.txt
*.whl
*.gz

simplyfire/active_plugins.yaml
